html {
    font-size: 15px;
    margin-bottom: 100px;
}

.lista-pontos {
    list-style-type: square;
}

.lista-numerica {
    list-style-type: lower-roman;
}

.lista-imagem {
    list-style-type: none;
    list-style-image: url("img/circle.png");
}

.container {
    width: 80%;
    border: 1px solid black;
}

.pixel-box {
    width: 200px;
    height: 100px;
    border: 2px solid black;
}

.percent-box {
    width: 50%;
    height: 100px;
    border: 1px solid black;
}

.em-text {
    font-size: 2em;

}

.rem-text {
    font-size: 2rem;
}

.styled-list {
    list-style-type: none;
}

.styled-list li:first-child {
    color: red;
}

.styled-list li:last-child {
    color: blue;
}

.styled-list li::before {
    content: "* ";
}


.hover-box {
    width: 100px;
    height: 100px;
    background-color: #000;
    transition: 0.5s;
}

.hover-box:hover {
    background-color: blueviolet;
    transform: scale(1.1);
}

.multiple-gradient-box,
.radial-gradient-box,
.linear-gradient-box {
    height: 200px;
    background-image: linear-gradient(to right, #123, #234, #456, #890);
}

.radial-gradient-box {
    background-image: radial-gradient(circle, red, orange, yellow);
}

.multiple-gradient-box {
    background-image: linear-gradient(to left,
            rgba(80, 150, 255, .7),
            rgba(120, 220, 255, 0)),
        radial-gradient(circle at top, blue, blueviolet);
}

.box-shadow-example {
    width: 300px;
    height: 100px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 20px #000;

}

.text-shadow-example {
    font-size: 30px;
    color: #f0f0f0;
    background-color: orange;
    text-shadow: 1px 1px 2px rgba(0, 0, 0);
}

.multiple-shadow-box {
    width: 300px;
    height: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3),
        -3px -3px 5px rgba(8, 2, 2, 0.5);
}

.z-index-box {
    position: relative;
    height: 300px;
}

.box {
    width: 300px;
    height: 100px;
    position: absolute;
    border: 1px solid black;
}

.background {
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: blue;
}

.middle {
    top: 40px;
    left: 40px;
    z-index: 2;
    background-color: green;
}

.foreground {
    top: 60px;
    left: 60px;
    z-index: 3;
    background-color: red;
}

:root {
    --main-color: #4caf50;
    --padding-value: 10px;
    --text-color: #fff;
}

.content {
    padding: var(--padding-value);
}

.text {
    background-color: var(--main-color);
    color: var(--text-color);
    padding: var(--padding-value);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.grid-container div {
    background-color: red;
}

.grid-container-area {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    height: 100vh;
}

.header {
    grid-column: 1/-1;
    background-color: #f0f0f0;
    text-align: center;
}

.aside {
    grid-column: 1;
    grid-row: 2;
    background-color: red;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    background-color: blue;
}

.footer {
    grid-column: 1/-1;
    background-color: #ccc;
}