* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header{ display: flex; align-items: center; background-color: red; }

.Logo{
    width: 200px;
    height: auto;
    box-sizing: border-box;
    margin-right: 20px;
}

button{
    background-color: rgb(143, 4, 4);
    color: white;            
    padding: 10px 20px;       
    border: none;       
    height: 150px;     
    margin: 0%;   
    cursor: pointer;          
    font-size: 20px;   
}


.subtitulo{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: normal;
    font-family: sans;
}

table {
    width: 100%;
    border-collapse: collapse; 
}

.imagem {
    display: block;
    border-radius: 5px;
    max-width: 300px;
    max-height: 3000px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
}
